/*!
  * Made by Jeff Trent September 2017 for IT 210 Homework
  * Did I say it would be good? It should at least fulfill the homework requirements ;)
*/

header {
  width: 100%;
}

h1 {
  position: relative;
  margin: auto;
  width: 50%;
  text-transform: uppercase;
  font-family: arial;
  text-shadow: -2px 0 #e212a4, 0 2px #e212a4, 2px 0 #e212a4, 0 -2px #e212a4;
  color: #5a6bc4;
  font-size: 100px;
}

nav a {
  font-size: 14pt;
  font-family: monospace;
  color: #c4e810;
  border-right: 1px white solid;
  border-left: 1px white solid;
}

nav a:hover {
  color: #c5ea1e;
}

nav a:visited {
  color: #af0554;
}

nav a:active {
  color: #0fdb20
}

nav {
  background-color: #111;
  border-bottom: 2px white solid;
  margin-bottom: 50px;
}

img {
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

img:hover {
  transform: scale(1.25);
}

#whack {
  position: fixed;
  background-color: blue;
  color: red;
  text-shadow: 2px 0 yellow, -2px 0 yellow, 0 2px yellow, 0 -2px yellow;
  transform: rotate(180deg);
}

p.copyright {
  color: #333;
  text-decoration: underline;
  font-style: italic;
  font-size: 10pt;
}
